<!--
<h1>ID: <%= @location.id %></h1>
<p>IP Address: <%= @location.ip %></p>
<p>Lat: <%= @location.latitude %></p>
<p>Long: <%= @location.longitude %></p>
-->

<!-- This works -->
<!-- <p>Miles from <strong><%= Park.first.parkname %></strong>: <%=@location.distance_from(Park.first).round(2)%></p> -->

<h2>The closest three parks</h2>
<ul>
  <% for park in @parks.limit(3) %>
    <li> <%= link_to park.parkname, park %> || Approx distance from you:
      <strong><%= park.distance_from([@location.latitude, @location.longitude]).round(0)%></strong></li>
  <% end %>
</ul>